dependencies/unmanagedPackage/DR flow/flows/DR_Checkout_Summary_Unmanaged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Version 10-checkout summary hide in order review page</description>
    <interviewLabel>DR Checkout Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DR Checkout Summary Unmanaged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <screens>
        <name>Cart_to_Order_Summary</name>
        <label>Cart to Order Summary</label>
        <locationX>150</locationX>
        <locationY>250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <fields>
            <name>shipping1</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>deliveryMethod</name>
            <extensionName>commerce_checkout:deliveryMethod</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>drb2Util</name>
            <extensionName>digitalriverv3:drb2b_DRUtil</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Tax_Identfier</name>
            <extensionName>digitalriverv3:drb2b_taxIdentifier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>webcartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTax</name>
                <value>
                    <elementReference>Saved_Tax_Identifiers</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Saved_Tax_Identifiers</assignToReference>
                <name>selectedTax</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DRB2B_Terms</name>
            <extensionName>digitalriverv3:dRB2B_DrTermsElement</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>webcartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CSComponent</name>
            <extensionName>digitalriverv3:dRB2B_HideCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideCheckoutSummary</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Cart_to_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow sets the next state field of the current checkout session object.</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>400</locationX>
        <locationY>250</locationY>
        <flowName>sfdc_checkout__UpdateCheckoutState</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Saved_Tax_Identifiers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
